*{
    margin: 0;

}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
      background-color: rgb(31, 31, 31);
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    
    
}

.menu-navbar-list{
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-top: 0;


}

.icons-d{
    color: white;
    display: none;
}

.nav-a1{
    display: none;
}

.navbar-container {
    display: flex;
    align-items: center;
    
   
    padding: 0 50px;
    height: 100%;
     color: rgb(0, 0, 0);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-container{
    flex: 1;
    
}

.logo{
   
    font-size: 30px;
    color: orange;
}

.logo-a{
    text-decoration: none;
}
.menu-container{
    flex: 6;
    
}

.menu-list{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-right: 10px;
    
}


.menu-list-item{
    margin-right: 10px;
    

}


.nav-a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-a:hover{
    color: orange;
}






.menu-list-item.active{
    font-weight: bold;
}






.search-box {
   
    margin-right: 0;
    
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .search-box .search-input{
    background: rgb(31, 31, 31);
   
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  }
  
  
  .search-input .input-text{
    height: 30px;
    
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    font-size: 18px;
    background-color: rgb(31, 31, 31);
   
  }

  ::placeholder{
    color: white;
  }
  
  .search-input.active .input-text{
    border-radius: 5px 5px 0 0;
  }
  .input-text{
    color: white;
    
  }
  
  .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
  }

  .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
    position: absolute;
    background: rgb(31, 31, 31);
    width: -webkit-fill-available;
    
  }
  
  
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
  
  .autocom-box li{
    list-style: none;
    padding: 4px 0px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    color: white;
  }
  
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: orange;
  }
  
  .search-input .icon{
    position: absolute;
    right: 10px;
    top: 0px;
    bottom: 60px;
    height: 30px;
    width: 30px;
    text-align: center;
    
    font-size: 20px;
    color: orange;
    cursor: pointer;
  }


.container{
    min-height: calc(100vh - 50px);
    color: white;
}

.featured-content{
    height: 100vh;
    padding: 50px;
    
}

.featured-content2{
    height: 100vh;
    padding: 50px;
    margin-left: 50px;
    
}

.featured-title{
    width: 200px;

}

.featured-desc{
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}

.featured-desc2{
    display: none;
}
.featured-button{
    background-color: orange;
    color: black;
    padding: 10px 20px ;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;

}

.movie-list-container{
    padding:  0 20px;
}

.movie-list-wrapper{
    position: relative;
    overflow: hidden;
    
}

.movie-list{
    display: flex;
    align-items: center;
    height: 300px;
    transform:translateX(0) ;
    transition: all 1s ease-in-out;
}

.movie-list-item{
    margin-right: 30px;
    position: relative;
   
}

.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}

.movie-list-item-img{
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: all 1s ease-in-out;
    border-radius: 20px;
}

.movie-list-title{
    color: orange;
}

.movie-list-item-title{
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-desc{
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 210px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-button{
    padding: 10px;
    background-color: orange;
    color: black;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
    font-weight: bold;

}

.arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: orange;
    opacity: 0.5;
    cursor: pointer;
}

footer{
    color: orange;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    padding-top: 50px;
    border-top: 1px solid white;
}

.footer-container{
    
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer{
    width: 33.3%;
  
}

.footer-h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content{
    padding: 40px;
    margin-left: 50px;
}

.footer-content .footer-p{
    width: 190px;
    margin: auto;
    padding: 7px;

}

.footer-content {
    text-align: center;
}

.footer-list {
    padding: 0;

}

.footer-list .footer-li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.footer-a{
    text-decoration: none;
    color: white;
}

.footer-a:hover{
    color: orange;
}

.footer-bottom-bar{
   color: orange;
   margin: 0;
   font-size: 16px;
   padding: 7px;
   text-align: center;

}
.footer-p{
    color: white;
}

@media only screen and (max-width: 700px){
    

    

    .search-input .input-text{
        height: 30px;
        
        outline: none;
        border: none;
        border-radius: 2px;
        padding: 0 0 0 3px;
        font-size: 10px;
        background-color: rgb(31, 31, 31);
       
      }

      .search-input .autocom-box{
        padding: 0;
        opacity: 0;
        pointer-events: none;
        max-height: 150px;
      }
    
      .autocom-box{
        padding: 10px 8px;
        opacity: 1;
        pointer-events: auto;
        position: absolute;
        background: rgb(31, 31, 31);
        width: -webkit-fill-available;
        
      }
      
      
      .search-input.active .autocom-box{
        padding: 10px 8px;
        opacity: 1;
        pointer-events: auto;
      }
      
      .autocom-box li{
        list-style: none;
        padding: 4px 0px;
        display: none;
        width: 100%;
        cursor: default;
        border-radius: 3px;
        color: white;
      }
      
      .search-input.active .autocom-box li{
        display: block;
      }
      .autocom-box li:hover{
        background: orange;
      }
      
      .search-input .icon{
        position: absolute;
        right: 10px;
        top: 0px;
        bottom: 60px;
        height: 30px;
        width: 30px;
        text-align: center;
        
        font-size: 20px;
        color: orange;
        cursor: pointer;
      }
      
     

    
    .featured-desc{
        width: 400px;
        color: lightgray;
        margin: 30px 0;
        display: none;
    }
    
    .featured-button{
        background-color: orange;
        color: black;
        padding: 10px 20px ;
        border-radius: 10px;
        border: none;
        outline: none;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        margin-top: 20px ;
    
    }


.featured-desc{
    
    width: 100%;
}

.main-div2{
    display: block;
    margin-left: 0;
    width: 100%;
   
    
}
.logo{
   
    font-size: 20px;
    color: orange;
}

.navbar-container {
    display: flex;
    align-items: center;
    
   
    padding: 0 10px;
    height: 100%;
     color: rgb(0, 0, 0);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-a{
    display: none;

}
.nav-a1{
    display: flex;
    font-size: 15px;
}



}



@media only screen and (max-width: 1000px){
    .featured-content{
        height: 30vh;
        padding: 15px;
        margin-left: 0px;
    }

    .featured-content2{
        height: 30vh;
        padding: 15px;
        margin-left: 0px;
    }

}


@media only screen and (max-width: 900px){
    .footer-container{
    
    
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

    


/* termeni si conditii CSS*/
.main-div{
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
    width: 75%;
    color: rgb(255, 255, 255);
    margin-left: 200px;
}
.title{
    margin-top: 0;
    text-align: center;
}
.h1-desc{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
     color: orange;
     margin-top: 10px;
}
.p-desc{
    margin: 15px;
    margin-top: 0;
}

.h2-desc{
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
    color: orange;
}

/* CSS for every cinema page*/

.main-div2{
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
    width: 75%;
    color: rgb(255, 255, 255);
    margin-left: 200px;
}

.video-container{
    width: 100%;
    height: 500px;
}

.movie-mainn{
    padding: 20px 0 5px 0;
}
.movie-mainn .movie-synopsis{
    display: flex;
}

.movie-mainn .movie-synopsis .poster{
    float: left;
}

.movie-mainn .movie-synopsis .synopsis{
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 14px;
}

.p-synopsis{
    margin-top: 0;
    margin-bottom: 1rem;
}

.movie-mainn .movie-age-duration{
    border-bottom-color: initial !important;
}

.movie-mainn .movie-age-duration{
    margin-top: 10px;
    padding-top: 5px;
    border-bottom: 0px !important;
}

.movie-mainn .movie-age-duration{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
}

.movie-mainn .movie-age-duration .age-rating .bordered{
    border-color: rgb(140, 130, 115);
}

.movie-mainn .movie-age-duration .age-rating .bordered{
    line-height: 18px;
    display: inline-block;
    padding: 0 7px;
    border-radius: 9px;
    border: 1px solid orange;
    margin-right: 4px;
}




.movie-mainn .movie-info .info-header{
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 15px;
}

.movie-mainn .movie-info .info-text{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 300;
}
.info-header{
    margin-bottom: 5px;
}

.movie-mainn .movie-age-duration .duration .i-time{
    display: block;
    margin: 0 auto 5px;
    width: 20px;
    height: 20px;
    background-size: contain;
}

.page-block{
    padding: 20px 0 15px 0;
    width: 100%;
    
}

.page-block .page-block-title{
    border-top-color: rgb(53, 57, 59);
    border-bottom-color: rgb(53, 57, 59);
}

.page-block .page-block-title{
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 500;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 97%;
    padding: 10px 0;
}

.page-block .movie-schedule{
    display: block;
    text-align: left;
}
.movie-schedule{
    margin: 5px 0;
}

.no-gutters{
    margin-right: 0;
    margin-left: 0;

}


.row{
    display: flex;
    flex-wrap: wrap;
    margin-right:-15px;
    margin-left: -15px;
}

.page-block .movie-schedule .day-wrapper{
    background-image: none;
    background-color: initial;
}

.page-block .movie-schedule .day-wrapper{
    max-width: 100%;
    background: none;
    border-radius: 0px;
    margin-right: 0px;
    padding: 0px;
    text-align: left;
}

.page-block .movie-schedule .day{
    text-align: left;
}

.page-block .movie-schedule .fs{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}
.movie-schedule .day{
    margin: 0;
}


.btn1{
    background-color: orange;
    color: black;
    padding: 5px 10px ;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    
    

}

.btn1:hover{
    background-color: #000;
    color: orange;
   
}

.h31{
    margin-left: 15px;
    font-size: 13px;
    font-weight: 200;
    margin-top: 5px;
}

@media only screen and (max-width: 800px){
.main-div2{
    
    margin-left: 0;
    width: 100%;
   
    
}
.page-block .movie-schedule{
    display: block;
    text-align: left;
    margin-left: 5px;
    width: 90%;
}

.page-block{
    padding: 20px 0 15px 0;
    width: 90%;
    
    margin-left: 5px;
}

.movie-synopsis{
    display: flex;
    flex-direction: column;
}

.page-block .page-block-title{
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 500;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 100%;
    padding: 10px 0;
}
}

/* tabel lista cu categoriile de persoane si preturi pentru bilete*/

.main-div3{
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
    width: 50%;
    color: rgb(255, 255, 255);
    margin-left: 330px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
}

.list-group{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
    margin-top: 0;
}

.list-group-item:first-child{
   border-top-left-radius: inherit;
   border-top-right-radius:inherit;
}

.list-group-item{
    background-color: rgb(24,26,27);
    border-color: rgba(140, 130, 115,0.13);
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.dis-flex{
    display: flex !important;
}

.ticketing-items .tickettypes .left-col, .ticketing-items .productss .left-col{
    font-size: 90%;
}

.flex-grow-1{
    flex-grow: 1 !important;
}

.ticketing-items .nume{
    font-weight: 700;
}

.ticketing-items .subtext{
    display: block;
    font-size: 90%;
}

.text-secondary{
    color: rgb(158,150,137) !important;
}

.m-0{
 margin: 0 !important;
}

.ticketing-items .pret{
    font-weight: 500;
}

.text-right{
    text-align: right !important;
}

.ml-2{
    margin-left: 0.5rem !important;
}

.h-100{
    height: 100% !important;
}

.ticketing-items .item-actionss .a1{
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

.btn-accent{
    color: rgb(232,230,227);
    background-color: orange;
    
}

.btn-smal{
    border-radius: 50%;
    
}

.align-self-center{
    align-self: center !important;
}

.a1{
    text-decoration: none;
    text-decoration-color: initial;
}

.fi{
    font-weight: 900;
    color: #000;
}

.ticketing-items .item-actionss .item-qry{
    width: 48px;
    margin: 0 3px;
}

.border{
    border-color: rgb(56, 61, 63) !important;
    border: 1px solid #dee2e6 !important;
}
.text-center{
    text-align: center !important;
}

.align-self-center{
    text-align: center !important;
}

.input2{
    
    margin-left: 5px;
    margin-right: 5px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 30px;
    background-color: #333;
    margin-bottom: 5px;
    height: 25px;
}

.list-group-item + .list-group-item{
    border-top-width: 0;
}

.list-group-item:last-child{
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.row-accent{
    color: rgb(232,230,227);
    background-color: rgb(28, 30, 31);
    border-bottom-color: rgb(56, 61, 63);
}

.font-weight-bold{
    font-weight: 700 !important;
}

.btn2{
    background-color: orange;
    color: black;
    width: 90px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
   margin-left: 335px;
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;
   height: 40px;
    

}

.btn2:hover{
    background-color: #000;
    color: orange;
   
}

.btn5{
    background-color: orange;
    color: black;
    width: 30px;
    border-radius: 80%;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
   
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;
   height: 30px;
}


/* pop up*/



  
  .btn3 {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 14px 22px;
    border: none;
    background: rgb(31, 31, 31);
    border-radius: 6px;
    cursor: pointer;
  }
  .btn3:hover {
    color: orange;
  }
  .btn3.show-modal,
  .model-box {
    position: absolute;
    left: 47%;
    top: 55%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  section.active .show-modal {
    display: none;
  }
  .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    
    opacity: 0;
    pointer-events: none;
  }
  section.active .overlay {
    opacity: 1;
    pointer-events: auto;
  }
  .model-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 24px;
    background-color:orange;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);
  }
  section.active .model-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }
  .model-box .i-2 {
    font-size: 70px;
    color: #000000;
  }
  .model-box .h-2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #000000;
  }
  .model-box .h-3 {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-align: center;
  }
  .model-box .buttonss {
    margin-top: 25px;
  }
  .model-box .btn3 {
    font-size: 14px;
    padding: 6px 12px;
    margin: 0 10px;
  }



  /*Exemplu*/

  
  
  .btn-dec_inc{
    height: 40px;
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(31,31,31);
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-dec_inc .span2{
    width: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
  }
  .btn-dec_inc .span2 .num{
    font-size: 50px;
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
    pointer-events: none;
  }
  
  .span2{
    color: orange;
  }

  @media only screen and (max-width: 1000px){
    .btn2{
        background-color: orange;
        color: black;
        width: 90px;
        border-radius: 10px;
        border: none;
        outline: none;
        font-weight: bold;
        cursor: pointer;
       margin-left: 180px;
       margin-top: 10px;
       margin-bottom: 10px;
       text-align: center;
       height: 40px;
        
    
    }
  }

  @media only screen and (max-width: 800px){
    .main-div3{
        display: flex;
        flex-direction: column;
        background-color: rgb(31, 31, 31);
        width: 70%;
        color: rgb(255, 255, 255);
        margin-left: 50px;
        box-sizing: border-box;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .btn2{
        background-color: orange;
        color: black;
        width: 90px;
        border-radius: 10px;
        border: none;
        outline: none;
        font-weight: bold;
        cursor: pointer;
       margin-left: 140px;
       margin-top: 10px;
       margin-bottom: 10px;
       text-align: center;
       height: 40px;
        
    
    }
    
    .model-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        width: 100%;
        margin-left: 10px;
        padding: 30px 20px;
        border-radius: 24px;
        background-color:orange;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
        transform: translate(-50%, -50%) scale(1.2);
      }

  }
  
 /*oferte css*/

.card-containar{
    padding: 0;
    box-sizing: border-box;
    display:flex ;
    justify-content: center;
    flex-wrap: wrap;
    

}

.card{
    width:325px;
    background-color: orange;
    border-radius: 8px;
    overflow: hidden;
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card .img-card1{
    width: 100%;
    height: auto;

}

.card-content{
    padding:16px;
}
.card-content .h-31{
    font-size: 28px;
    margin-bottom: 8px;
    text-align: center;
}

.card-content .p-1{
    color: white;
    font-size: 15px;
    line-height:1.3;
    
}

.card-content .btn-card1{
    display: inline-block;
    padding: 8px 16px;
    margin-left: 100px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}

.btn-card1:hover{
    color: orange;
}

.h1-descriere{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
     color: orange;
     margin-top: 10px;
     text-align: center;
}

.p-descriere{
    
    margin-left: 30px;
    margin-top: 0;
    text-align: left;
    margin-right: 30px;
    
}

.h2-descriere{
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
    color: orange;
}

.img22{
    max-height: 70vh;
}

/*Program filme CSS*/

.nav-program{
    flex: 6;
    
}

.ul-program{
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}



.a-2{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 40px;
    font-weight: 900;
}

.a-2:hover{
    color: orange;
}

.img-pr{
    max-height: 220px;
    border-radius: 8px;
    margin-left: 20px;
    max-width: 149px;
}

hr{
    margin-bottom: 15px;
}

.a-3{
    text-decoration: none;
    color: white;
}

.a-3:hover{
    color: orange;
}

@media only screen and (max-width: 900px){
.main-div{
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
    width: 100%;
    color: rgb(255, 255, 255);
    margin-left: 0px;
}

.ul-program{
    display: flex;
    
    list-style: none;
    align-items: center;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    
}

.a-2{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 5px;
    font-weight: 500;
}
}

@media only screen and (max-width: 1100px){
    .ul-program{
        display: flex;
        
        list-style: none;
        align-items: center;
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0;
        
    }
    
}
